body {
color: white;
background-color: black;
font-family: "roboto Condesed" , sans-serif;
}
.chamada{
background: rgb(62,197,89);
pedding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
margin-right: 5%;
}
img{
height: 200px;
}
.categoria-videos{
display: flex;
overflow-x: auto;

gap
:10px
}